body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-whUlrHnrby8Upf7cLrFVIrC9bmvlKDLn-6pKkQckYjnuIhmiLA");
}
#banner {
    box-shadow: 2px 2px 4px white;
    border-style: groove; 
    background-color: #00009e;
    color: white;
    text-align: center;
    width: auto;
    height: 50px;
    margin: 10px;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#instructions {
    box-shadow: 2px 2px 4px white;
    border-style: groove; 
    background-color: #00009e;
    color: white;
    text-align: left;
    width: 500px;
    height: auto;
    margin: 10px;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#matchNum {
    box-shadow: 2px 2px 4px white;
    border-style: groove; 
    background-color: #00009e;
    color: white;
    width: 220px;
    height: 70px;
    padding: 20px;
    margin: 10px;
    float: left;
    text-align: center;
}

#stats {
    box-shadow: 2px 2px 4px white;
    border-style: groove; 
    background-color: #00009e;
    color: white;
    width: 220px;
    height: 70px;
    padding: 20px;
    margin: 10px;
    float: left;
}

#row {
    width: 220px;
    height: auto;
    margin: 10px;
    float: left;
}

 .crystalOrange, .crystalPurple, .crystalRed {
    float: right;
    width:20%;
    padding: 5px;
}

#row::after {
    content: "";
    clear: both;
    display: table;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


#text {
    box-shadow: 2px 2px 4px white;
    border-style: groove; 
    background-color: #00009e;
    color: white;
    width: 220px;
    height: 70px;
    padding: 20px;
    margin: 10px;
    float: left;
}


#userNum {
    box-shadow: 2px 2px 4px white;
    border-style: groove; 
    background-color: #00009e;
    color: white;
    width: 220px;
    height: 70px;
    padding: 20px;
    margin: 10px;
    float: left;

}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}